{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'newsletter-section.css' | asset_url | stylesheet_tag }}
<style>
.popup-container {
  display: none;   
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
/* Popup Content */
.popup-content {
    display: flex;
    background-color: white;
    width: 60%;
    height: 75%;
    overflow-x: scroll;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Left Side - Image/Video */
.popup-left {
  width: 50%;
  padding: 10px;
}

.media iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/* Right Side - Form */
.popup-right {
    width: 50%;
    padding: 30px 20px 20px;
}

.popup-right form {
  display: flex;
  flex-direction: column;
}

.popup-right input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
    box-shadow: none;
}
.popup-right button {
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background: #000;
}
.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    border: none;
    padding: 1px 10px;
    cursor: pointer;
    background: #000;
    font-size: 17px;
}

/* Sticky Button */
.sticky-btn {
    position: fixed;
    right: 10px;
    bottom: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999;
}
.image-media img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.header-form-data {
    padding: 0 44px 0 20px;
    line-height: 40px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;
    text-align: left;
    margin: 20px 0px;
    width: 100%;
    background: #e8f0fe;
}
.header-form-data input {
    position: relative;
    color: #000;
    border: none;
    background: none;
    width: 100%;
}
.header-form-data input:focus-visible{
  outline:none;
  box-shadow:none;
}
.header-form-data ul.list {
    width: 100%;
    z-index: 999;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
.header-form-data.open .list {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(0);
}
 .header-form-data .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(-21px);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    pointer-events: none;
}
 .header-form-data .list .option {
    cursor: pointer;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
    font-size: 14px;
    color: #000;
}
.option:hover,  .option.focus, .option.selected.focus {
    background-color: #f6f6f6;
}
 .header-form-data .list .option.selected {
    font-weight: bold;
    background-color: #f6f6f6;
    color: #000;
}
 .header-form-data:after {
    width: 5px;
    height: 5px;
    color: #4d555f;
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    right: 24px;
    transition: all 0.15s ease-in-out;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
}
 .header-form-data.open:after {
    transform: rotate(-135deg);
}
.list::-webkit-scrollbar {
    width: 4px;
  }
  .list::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  .list::-webkit-scrollbar-thumb {
    background: #999; 
  }
 .popup-right .newsletter-form__button{
    position:unset;
    width:100%;
  }
  .popup-right .newsletter-form__button:not(:focus-visible):not(.focused){
     background: #000; 
  }
   .popup-right .newsletter-sub{
    flex-direction:column;
  }
 .popup-left .popup-media {
    width: 100%;
    height: 100%;
}
</style>
<div class="color-{{ section.settings.color_scheme }}">
<div class="page-width">
<div id="myPopup" class="popup-container">
  <div class="popup-content">
    <div class="popup-left">
      <div class="popup-media">
        {% if section.settings.content_video != blank %}
       {% assign video_url = section.settings.content_video %}
        {% if video_url != blank %}
                  {%- if video_url.type == 'youtube' -%}
                    <iframe
                      src="https://www.youtube.com/embed/{{ video_url.id }}?autoplay=1&mute=1&controls=0&showinfo=0&modestbranding=1&rel=0&iv_load_policy=0&fs=0&disablekb=0&loop=1&playlist={{ video_url.id }}"
                      class=""
                      allow="autoplay; encrypted-media"
                      autoplay
                      muted
                      loop
                      playsinline
                      allowfullscreen
                      width="100%"
                      height="100%"
                    ></iframe>
                  {%- else -%}
                    <iframe
                      src="https://player.vimeo.com/video/{{ video_url.id }}?autoplay=1&mute=1&controls=0"
                      class=""
                      allow="autoplay; encrypted-media"
                      autoplay
                      muted
                      loop
                      playsinline
                      allowfullscreen
                    ></iframe>
                  {%- endif -%}              
              {% else %}
                <div class="cstm-class">                
                    <div class="absolute left-0 top-0 bottom-0 right-0 object-cover">
                      <video width="100%" height="" autoplay muted loop playsinline>
                        <source src="{{ section.settings.video  | video_tag }}" type="video/mp4">
                      </video>
                    </div>                  
                </div>
              {%- endif -%}
        {% else %}
          <div class="image-media">
            <img src="{{ section.settings.image | img_url:"master" }}" alt="image" width="" height="">
          </div>
          {% endif %}
      </div>
    </div>
    <div class="popup-right">
      <div class="">
       {% form 'customer', class: 'newsletter-form' %}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="field">
            <input
              type="text"
              name="contact[first_name]"
              id="RegisterForm-FirstName"
              {% if form.first_name %}
                value="{{ form.first_name }}"
              {% endif %}
              autocomplete="given-name"
              placeholder="First Name"
            >
          </div>
          <div class="field">
            <input
              type="text"
              name="contact[last_name]"
              id="RegisterForm-LastName"
              {% if form.last_name %}
                value="{{ form.last_name }}"
              {% endif %}
              autocomplete="family-name"
              placeholder="Last Name"
            >
          </div>
                <div class="header-form-data">
                      <input class="medium current" id="RegisterForm-Gender" name="contact[note][gender]" value="" placeholder="Gender">
                        <ul class="list">
                           <li data-value="male" value="male" class="option selected">Male</li>
                           <li data-value="female" value="female" class="option">Female</li>
                      </ul>
               </div>
                <div class="field newsletter-sub">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class=""
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}"
                    required
                  >
                  <button
                    type="submit"
                    class="newsletter-form__button field__button"
                    name="commit"
                    id="Subscribe"
                    aria-label="{{ 'newsletter.button_label' | t }}"
                  >
                Subscribe
                  </button>
                </div>
        {%- endform -%}
      </div>
    </div>
    <button id="closePopup" class="close-btn">x</button>
  </div>
</div>
</div>
</div>

{% javascript %}
  let open = document.querySelector('.header-form-data');
  let option = document.querySelectorAll('.option');
  let current = document.querySelector('.current');
  
  open.addEventListener("click", function(){   
    this.classList.toggle("open");
});
  
  option.forEach(function(selected){
    selected.addEventListener("click", function(){   
        option.forEach(function(option) { 
            option.classList.remove("selected");
        });
        var text = this.getAttribute('value');
        if(text == ''){
        current.value = 'Gender';
           console.log(current.value)
        }else{
         current.value = text;
          console.log(current.value)
        }
        this.classList.add("selected");
    });
});
{% endjavascript %}

{% schema %}
  {
    "name": "Newsletter Popup",
    "enabled_on": {
    "groups": ["header"]
    },
    "settings": [
    {
       "type": "video_url",
          "id": "content_video",
          "label": "Youtube Video_Url",
          "accept": [
            "youtube",
            "vimeo"
          ]
     },
      {
        "type": "video",
        "id": "video",
        "label": "Select Offline video"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Select Image"
      },
     {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-4"
    },
    ],
    "presets": [
      {
        "name": "Newsletter Popup"
      }
    ]
  }
{% endschema %}