{{ 'product-details.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="product-details-wrapper product-details-tab section-{{ section.id }}-padding">
  <div class="custom-background section-{{ section.id }}-padding">
    <div class="page-width ">
      {% if section.settings.heading != blank %}
        <div class="product-details-heading">
          {{ section.settings.heading }}
        </div>
      {% endif %}
      <div class="product-detials-tab-container">
        <ul>
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'content' %}
                {% assign products = product.metafields.custom.additional_information.value %}
                {% if products != blank %}
                  <li class="tablinks">
                    {% if block.settings.title != blank %}
                      <a href="" id="{{ forloop.index }}">{{ block.settings.title }}</a>
                    {% endif %}
                  </li>
                {% endif %}
              {% when 'reviews' %}
                <li>
                  {% if block.settings.title != blank %}
                    <a href="" id="{{ forloop.index }}">{{ block.settings.title }}</a>
                  {% endif %}
                </li>

              {% when 'description' %}
                {% if product.description != blank %}
                  <li>
                    {% if block.settings.title != blank %}
                      <a href="" id="{{ forloop.index }}">{{ block.settings.title }}</a>
                    {% endif %}
                  </li>
                {% endif %}
              {% when 'text' %}
                <li>
                  {% if block.settings.title != blank %}
                    <a href="" id="{{ forloop.index }}">{{ block.settings.title }}</a>
                  {% endif %}
                </li>
              
              {% when 'questions' %}
                <li>
                  {% if block.settings.title != blank %}
                    <a href="" id="{{ forloop.index }}">{{ block.settings.title }}</a>
                  {% endif %}
                </li>
            {% endcase %}
          {% endfor %}
        </ul>

        <div class="product-detials-tab-content">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'content' %}
              {% if product.metafields.custom.additional_information.value != blank %}
                <div class="product-detials-tab" tab-id="{{ forloop.index }}">
                  <table>
                    <tbody>
                      {% assign products = product.metafields.custom.additional_information.value %}
                      {% assign product_items = products %}

                      {% for item in product_items %}
                        {% assign parts = item  %}
                        <tr>
                          <td>{{ parts | strip }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
          {% endif %}
              {% when 'reviews' %}
                <div class="product-detials-tab" tab-id="{{ forloop.index }}">
                 There is a problem loading the review, sorry.
                </div>
              {% when 'description' %}
                <div class="product-detials-tab" tab-id="{{ forloop.index }}">
                  {{ product.description }}
                </div>
              {% when 'text' %}
                <div class="product-detials-tab" tab-id="{{ forloop.index }}">
                  {% if block.settings.subheading != blank %}
                    {{ block.settings.subheading }}
                  {% endif %}
                </div>
              {% when 'questions' %}
                <div class="product-detials-tab" tab-id="{{ forloop.index }}">
                      {% render 'custom-contact-form' %}
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      </div> 
    </div>
  </div>
</div>

<!-- accordian -->
<div class="product-details-wrapper product-details-accordian section-{{ section.id }}-padding">
  <div class="custom-background section-{{ section.id }}-padding">
    <div class="page-width ">
      {% if section.settings.heading != blank %}
        <div class="product-details-heading">
          {{ section.settings.heading }}
        </div>
      {% endif %}
      <div class="product-detials-tab-container">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'content' %}
              {% assign products = product.metafields.custom.additional_information.value %}
              {% if products != blank %}
                <details class="accordion-item">
                  <summary class="accordion-title">
                    {% if block.settings.title != blank %}
                      {{ block.settings.title }}
                      <span class="accordion-icon">+</span>
                    {% endif %}
                  </summary>
                  <div class="accordion-content">
                    <table>
                      <tbody>
                        {% assign product_items = products %}
                        {% for item in product_items %}
                          {% assign parts = item %}
                          <tr>
                            <td>{{ parts | strip }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </details>
              {% endif %}
            {% when 'reviews' %}
              <details class="accordion-item">
                <summary class="accordion-title">
                  {% if block.settings.title != blank %}
                    {{ block.settings.title }}
                    <span class="accordion-icon">+</span>
                  {% endif %}
                </summary>
                <div class="accordion-content">
                  <!-- Reviews Content Here -->
                </div>
              </details>
            {% when 'description' %}
              <details class="accordion-item">
                <summary class="accordion-title">
                  {% if block.settings.title != blank %}
                    {{ block.settings.title }}
                    <span class="accordion-icon">+</span>
                  {% endif %}
                </summary>
                <div class="accordion-content">
                  {{ product.description }}
                </div>
              </details>
            {% when 'text' %}
              <details class="accordion-item">
                <summary class="accordion-title">
                  {% if block.settings.title != blank %}
                    {{ block.settings.title }}
                    <span class="accordion-icon">+</span>
                  {% endif %}
                </summary>
                <div class="accordion-content">
                  {% if block.settings.subheading != blank %}
                    {{ block.settings.subheading }}
                  {% endif %}
                </div>
              </details>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product details",
    "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
    "type": "range",
    "id": "padding_top",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "label": "t:sections.all.padding.padding_top",
    "default": 36
  },
  {
    "type": "range",
    "id": "padding_bottom",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "label": "t:sections.all.padding.padding_bottom",
    "default": 36
  },
  {
      "type": "richtext",
      "id":"heading",
      "label": "Heading"
  }

  ],
  "blocks": [
    {
      "type": "content",
      "name":"Additional Information",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        }
      ]
    },
     {
      "type": "reviews",
      "name":"Product review",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        }
      ]
    },
     {
      "type": "description",
      "name":"Description",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        }
      ]
    },
    {
      "type": "text",
      "name":"Custom content",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Subheading"
        }
      ]
    },
    {
      "type": "questions",
      "name":"Ask Questions",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        }
      ]
    }

  ],
  "presets": [
    {
      "name": "Product details"
    }
  ]
}
{% endschema %}


<script>
  document.addEventListener("DOMContentLoaded", function() {
  var tabs = document.querySelectorAll('.product-detials-tab');
  tabs.forEach(function(tab) {
    tab.style.display = 'none';
  });

  if (tabs.length > 0) {
    tabs[0].style.display = 'block';
  }

  var firstTabLink = document.querySelector('.product-detials-tab-container ul li:first-child');
  if (firstTabLink) {
    firstTabLink.classList.add('tablinks');
  }

  var tabLinks = document.querySelectorAll('.product-detials-tab-container ul a');
  tabLinks.forEach(function(tabLink) {
    tabLink.addEventListener('click', function(e) {
      e.preventDefault();

      var id = tabLink.getAttribute('id'); 

      tabs.forEach(function(tab) {
        var tabId = tab.getAttribute('tab-id');
        if (id === tabId) {
          tab.style.display = 'block'; 
        } else {
          tab.style.display = 'none';
        }
      });

      var tabListItems = document.querySelectorAll('.product-detials-tab-container ul li');
      tabListItems.forEach(function(item) {
        item.classList.remove('tablinks');
      });

      var parentLi = tabLink.parentElement;
      if (parentLi) {
        parentLi.classList.add('tablinks');
      }
    });
  });

  document.querySelectorAll('.accordion-item').forEach(function (item) {
  item.addEventListener('toggle', function () {
    const icon = item.querySelector('.accordion-icon');
    if (item.open) {
      icon.textContent = '-';
    } else {
      icon.textContent = '+';
    }
  });
});

});
</script>
